
.lastOnline{
    color:#a9a9a9;
    font-size: 15px;
}
.lastOnline .lastTime{
    float: left;
}
.lastOnline .profileView{
    float: right;
}
.profileIntro{
    font-size: 27px;
    font-weight: 700;
        line-height: 1.1;
    color: #000;
    margin:16px 0px 25px 0;
}
.personProfileBlock{
    padding: 20px;
}
.profilePhoto{
    float: left;
    margin-right: 25px;
}
.ageProfile{
    margin-right: 5px;
}
.profileInfo{
    font-size: 15px;
}
.ageCityProfile{
 margin-bottom: 20px;   
}
.numberOfTasks{
    margin-bottom: 2px;
}
.profilePhoto img{
    width: 180px;
    height: 180px;
}
.photoAndInfoProfile{
    height: 180px;
    margin-bottom: 30px;
}
.middleMarkProfile{
    padding-left: 20px;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f8f7ee;
    font-size: 15px;
}
.middleMarksVezhlivost,
.middleMarkPunktual{
    margin-right: 10px;
}
.profileMarkLow{
    color:#000;
    font-size: 22px;
    font-weight: bold;
}
.commentsProfileMain{
    color:#000;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: bold;
}
.fa-hand-peace-o{
    color: #535b60;
}
.commentWindowPhoto{
    float: left;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 10px;
}
.commentWindowName a{
    color:#4099fb;
}
.commentWindowName a:hover{
    color:#4099fb;
}
    

.commentWindowFirstRow{
    margin-bottom: 1px;
}
.commentWindowSecondRow{
    font-size: 13px;
    color:#000;
}
.commentProfile{
    clear: both;
    pointer-events: auto!important;
    padding: 20px 20px 10px;
    margin: 12px 0 8px 30px;
    background-color: #f9f6ef;
    box-shadow: -1px 1px 2px #dcdcdc;
    border-radius: 10px;
    position: relative;
    line-height: 18px;
    color: #4e4e4e;
    word-wrap: break-word;
}
.vezh,
.punkt{
    margin-right: 10px;
}
.vezh,
.punkt,
.adecv{
    color:#DBDAD3;
}
.commentProfile:hover .vezh,
.commentProfile:hover .punkt,
.commentProfile:hover .adecv{
    color: #8b8b8b;
}
.commentProfile:hover .vezh .fa,
.commentProfile:hover .punkt .fa,
.commentProfile:hover .adecv .fa{
    color:#40A5FC;
}
.profileDate{
    float: right;
    font-size: 13px;
}
.commentWindow{
    margin-bottom: 30px;
}
x
.lastNewsProfile a{
    color:#40A5FC;
    border-bottom:1px solid #40A5FC;
}
.lastNewsProfile a:hover{
    color:#40A5FC;
}