.all{
    width: 100%;
    height: 10000px;
    background-color: #ccc;
}
.need-cureer{
    margin-bottom: 20px;
    height: 278px;
    background-color: #8CC2DE;
}
.need-cureer .row>div>p{
    text-align: left;
    margin: 44px 0;
    font: 700 50px/60px "Open Sans Condensed";
    text-shadow: 0 2px 2px rgba(0,84,139,.22);
    color: #fff;    
}
.need-cureer .row ul p{
    font-size: 16px;
    line-height: 22px;
    color:#000;
}
.need-cureer .row ul li{
    position: relative;
    padding-left: 75px;
    display: inline-block;
    margin-right: 35px;
}
.need-cureer-1:before{
    content:'1';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    font: 700 110px/80px "Open Sans Condensed";
    text-shadow: 0 2px 2px rgba(0,84,139,.22);
    color: #fff;
}
.need-cureer-2:before{
    content:'2';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    font: 700 110px/80px "Open Sans Condensed";
    text-shadow: 0 2px 2px rgba(0,84,139,.22);
    color: #fff;
}
.need-cureer-3:before{
    content:'3';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    font: 700 110px/80px "Open Sans Condensed";
    text-shadow: 0 2px 2px rgba(0,84,139,.22);
    color: #fff;
}

.need-cureer .row ul li:last-child{
    margin-right: 0;
}
.need-cureer .row ul p span{
    display: inline-block;
    margin-bottom: 10px;
    font-size: 19px;
    font-weight: bold;
}
.need-cureer .row>div{
    width: 1029px;
    margin: 0 auto;
}
.application-form{
    padding: 0px 50px 40px 50px;
    border-radius: 10px;
    background-color: #f8f7ee;
}


.application-form form h2{
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    border-bottom: 0;
    color:#000;
    font: 700 40px/45px "Open Sans Condensed";
}
select.greyed {
    margin-right: 20px;
    width: 182px;
    outline:none;
    padding: 4px 10px;
    background-image:-webkit-linear-gradient(bottom,#E1E1E1,#F4F4F4);
    height: 34px;
    border:1px solid #DBDBDB;
    border-radius:5px;
    font-size: 15px;
    display: inline-block;
}
select.greyed:hover{
    background-image:-webkit-linear-gradient(bottom,#F4F4F4,#E1E1E1);
}
select.greyed:last-child{
    margin-right: 0px;
}
.choose-category p{
    color:#000;
    margin-right: 15px;
}
.choose-category *{
    font-size: 15px;
    display: inline-block;
}
.application-form input{
    outline:none;
}
.application-form label{
    font-size: 15px;
    display: inline;
    font-weight: normal;
    color:#000;
}
.choose-category{
    margin-bottom: 36px;
}
.choose-main label{
    display: block;
}
.choose-main input{
    max-width: 504px;
    min-width:300px;
    width: 100%;
    display: inline;
    border-radius:5px;
    margin-bottom: 20px;
    border:1px solid #2098D1;
    min-width:200px;
    padding: 6px 10px;
}
.choose-main textarea{
    display: inline;
    height: 104px;
    max-height: 104px;
    padding: 3px 10px;
    border-radius:5px;
    border:1px solid #2098D1;
    max-width: 504px;
    min-width:300px;
    width: 100%;
    max-width: 504px;
    margin-bottom: 23px;
}
.choose-file button{
    background-color: #fff;
    display: inline;
    outline:none;
}
.choose-file span{
    font-size: 12px;
    padding-left: 100px;
    margin-top: 2px;
    float: left;
}
.choose-file a {
    float: left;
}
.choose-file{
    height: 80px;
}
.thing-weight p{
    margin-right: 15px;
    font-size: 15px;
    display: inline-block;
}
.thing-weight{
    font-size: 0;
}
.thing-weight a{
    text-align: center;
    font-size: 14px;
    padding: 8px 22px;
    color: #5A5958;
    border: 1px solid #B4B4B4;
    background-image: -webkit-linear-gradient(bottom,#E0E0E0,#F4F4F4);
}
.thing-weight a:hover{
    background-image: none;
    background-color: #fff;
}
.weight-active{
-webkit-box-shadow: inset 0px 1px 6px 0px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 1px 6px 0px rgba(0,0,0,0.75);
box-shadow: inset 0px 1px 6px 0px rgba(0,0,0,0.75);
    background-color: #CBCBCB;
    box-shadow: 
}
.thing-weight .weight-one{border-radius:5px 0 0 5px;border-right: 0;}
.thing-weight .weight-two{border-radius:0 0 0 0;border-right: 0;}
.thing-weight .weight-three{border-radius:0 5px 5px 0;}

.thing-weight{
    margin-bottom: 30px;
}
.form-in{
    width: 510px;
    margin: 0 auto;
}
.point-date input {
    width: 49%;
    max-width: 202px;
    display: inline;
    border-radius: 5px;
    margin-bottom: 40px;
    border: 1px solid #2098D1;
    min-width: 200px;
    padding: 0 10px;
    line-height: 30px;
}
.point-addres input {
    max-width: 504px;
    min-width: 180px;
    width: 55%;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #2098D1;
    min-width: 200px;
    padding: 6px 10px;
}
.point-addres select {
    max-width: 504px;
    min-width: 180px;
    width: 40%;
}

.point-addres a,
.point-documents a{
    text-decoration: none;
    border-bottom: 1px dotted #809cb0;
    color: #809cb0;
    margin-bottom: 30px;
}
.point-addres{
    margin-bottom: 42px;
}
.point-documents p{
    margin-bottom: 3px;
}
.point-documents *{
    display: inline-block;
}
.point-price{
    margin: 7px 0 30px;
    padding: 25px 20px;
    background-color: #fcfbf7;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
}
.point-price label input{
    display: inline;
    border-radius: 5px;
    width: 60px;
    border: 1px solid #2098D1;
    padding: 4px 10px;
}
.point-price label a{
    margin-left: 80px;
    text-decoration: none;
    border-bottom: 1px dotted #809cb0;
    color: #809cb0;
}
.point-price>p{
    margin-top: 20px;
    margin-bottom: 0;
}
.application-form p{
    color:#000;
}
.point-contacts input{
    width: 45%;
    display: inline;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #2098D1;
    min-width: 200px;
    padding: 6px 10px;
}
.point-contacts{
    position: relative;
}
.point-contacts .form-abs{
    width: 50%;
    position: absolute;
    top: 114px;
    color:#9B9B9B;
    left: 250px;
}

.point-contacts h5 a{
    text-decoration: none;
    border-bottom: 1px dotted #809cb0;
    color: #809cb0;
}
.point-add{
    margin: 40px 0;
}
.beu{
    font-weight: bold;
}
.i-agree a{
    text-decoration: none;
    border-bottom: 1px dotted #809cb0;
    color: #809cb0;
}
.big-form-button a{
    height: 50px;
    padding: 15px 60px;
    color:#000;
}
.point-addition{
    margin-bottom: 50px;
}
.i-agree{
    margin-top: 30px;
}
.height30{
    height: 30px;
}
@media(max-width:992px){
    .need-cureer{
        display: none;
    }
}
@media(max-width:750px){
    .application-form{
        padding: 0px 10px 20px 10px;
    }
    .form-in {
        width: 100%;
        max-width:700px;
    }
    .choose-category select{
        display: block;
        margin-bottom: 10px;
    }
    .point-addres>a{
        display: inline-block;
    }
    .point-addres {
        margin-bottom: 42px;
    }
    .point-contacts input{
        width: 80%;
    }
    .point-contacts .form-abs {
        position: static;
            width: 100%;
    }
    .choose-file span {
        font-size: 12px;
        padding-left: 0px;
        position: static;
    }
    .choose-file {
        margin-bottom: 25px;
    }
    .point-price {
        padding: 5px 10px;
    }
    .application-form form h2 {
        text-align: center;
    }
    .thing-weight p {
        display: block;
    }
    .thing-weight a {
    padding: 8px 10px;
    }
    .point-date input:first-child {
        margin-bottom: 10px;
    }
    .point-addres {
        margin-bottom: 0px;
    }
}
@media(max-width:450px){
    .point-documents input {
        position: relative;
        bottom: -22px;
    }
    .point-documents p{
        padding-left: 20px;
    }
}