#loginFormWrap .fa {
    color: #2098D1;
}
.form-group.fa-iconed i.fa {
    float: left;
    margin: 0 -25px 0 5px;
    line-height: 34px;
    color: #ccc;
}
.form-group.fa-iconed .form-control {
    padding-left: 25px;
}

#loginFormWrap {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
}

h1, h2, h3 {
    text-align: center;
}

.regButtons input,
.regButtons a{
    padding: 10px 20px;
    color: #000;
    font-size: 16px;
    background: inherit;
    border-radius: 25px;
    overflow: hidden;
    border: 2px solid #2098D1;
}