.makersBlueBlock{
    position: relative;
    padding: 10px;
    overflow: hidden;
    background-color: #40A5FC;
    text-align: center;
}
.makerCategorys{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    padding: 15px 35px;
    background-color: #f8f7ee;
    line-height: 1.8rem;
    color: #4e4e4e;
}